h1 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px; 
	text-align: center;
	color: white;
}
h2 {
	font-family: Verdana;
	font-weight: 300;
	font-size: 42px;
	color: white;
}
a.link {
	font-family: Verdana;
	color: aquamarine;
	font-weight: 16px;
	text-decoration: underline;
	text-align: center;
}
body {
	background-color: black;
}
.video {
	text-align: center;
}
.container {
	text-align: center;
}
p#comment {
	font-family: Verdana;
	font-size: 21px;
	color: gray;
}
.smartphone {
	padding-top: 20px;
}
h3#footer {
	font-family: Verdana;
	text-align: right;
	color: gray;
}