h1 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px; 
	text-align: center;
	color: white;
}
h3 {
	color: aquamarine;
	font-weight: 16px;
	text-decoration: underline;
	text-align: center;
}
body {
	background-color: black;
}
.video {
	text-align: center;
}
.container {
	text-align: center;
}